.password-container {
    position: relative;
  }
  
  input[type="password"],
  input[type="text"] {
    width: calc(100% - 30px); /* Adjust width to fit icon */
    padding-right: 30px; /* Padding for the icon */
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
  }
  