.registration-container {
    text-align: center;
    overflow: hidden; 
    border-radius: 8px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.landing-page-header {
    background-color: black;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow under the header */
  }
  .logo {
    font-size: 2em;
    font-weight: bold;
    color: white; 
  }

.card {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid orange; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;

}

h2 {
    margin-bottom: 20px;
    color: white; 
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white; 
    font-size: 1.1em;
    text-align: left;
    width: 100%; 
    padding-left: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 2px solid white; 
    border-radius: 25px; 
    width: 100%;
    font-size: 1em;
    background-color: black; 
    color: white; 
    transition: border-color 0.3s ease; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: orange; 
    outline: none; 
}

.password-container {
    position: relative;
}

input[type="password"],
input[type="text"] {
    /*width: calc(100% - 30px); /* Adjust width to fit icon */
    padding-right: 30px; /* Padding for the icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; 
    background-color: orange; 
    color: black;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
    background-color: black; 
    color: orange; 
    border: 2px solid orange; 
}

.password-standards ul {
    color: white;
    list-style-type: none; 
    padding-left: 0;
    text-align: left;
    margin-left: 1em;
  }
  
  .password-standards li {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .password-standards .invalid{
    margin-right: 8px; 
    color: red; 
  }
  
  .password-standards li.valid  {
    color: green;
  }
  

.footer {
    background-color: black; 
    color: #f8f9fa;
    padding: 40px 20px;
    border-top: 2px solid orange;

  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
  }

  .background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
    overflow: hidden; 

}